html { 
    background: no-repeat url("https://iitk.ac.in/dora/spark/issue-2/images/p-k-kelkar.jpg" ) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

* {
    box-sizing: border-box;
    
}
h1{
    color: brown;
}
h4{
    color:blanchedalmond;
    text-size-adjust: 100px ;
}
.heading {
    border: 10px;
    padding: 10px;
    border-radius: 2px;
    background-color:rgba(137, 43, 226, 0.418) ;
    text-align:center; 
}
input[type="text"], textarea {

    background-color :rgba(173, 216, 230, 0.437); 
  
  }
  input[type="email"] {
    background-color : rgba(173, 216, 230, 0.437); 
  }
  input[type="submit"] {
    background-color : cyan; 
  }
  ::placeholder { 
    color: blue;
    opacity: 1; 
  }
body{
    text-align:justify;
    background-color: rgba(173, 216, 230, 0.437);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact{
    color: cyan;
}
.head{
    text-align: center;
}
